@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:#5F9EA0;
    color:whitesmoke;
    font-family: "Bai Jamjuree", sans serif;
}
